.messageLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-right: 15px;
  padding: 20px 15px 20px 0;
  max-width: calc(100vh - 77px);

  .headerChat {
    display: flex;
    justify-content: space-between;

    .box-Icon {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      align-items: center;

      .Item {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--bgColor);
        &:hover {
          cursor: pointer;
          background-color: #d2d6db;
        }
      }
    }
  }

  .SearchChat {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    .inputSearch {
      width: 100%;
      background: var(--bgColor);
      padding: 8px 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      border-radius: 50px;

      input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 14px;
      }
    }

    button {
      padding: 4px 8px;
      border: none;
      color: #fff;
      font-weight: 500;
      background: var(--primaryColor);
      border-radius: 5px;
      cursor: pointer;
    }

    .modalSearch {
      position: absolute;
      width: 100%;
      background-color: #fff;
      top: 40px;
      left: 0;
      border-radius: 5px;
      overflow-y: auto;
      max-height: 300px;
      box-shadow: 2px 4px 10px 1px rgb(202 197 197 / 50%);
      z-index: 100;

      .userItem {
        padding: 5px 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;

        .image {
          width: 32px;
          height: 32px;
          object-fit: cover;
          border-radius: 100%;
        }

        span {
          font-size: 14px;
        }

        &:hover {
          background: rgb(243, 240, 240);
        }
      }
    }
  }

  .ChatList {
    max-height: calc(100vh - 220px);
    overflow-y: auto;
    .chatItem {
      padding: 5px 10px;
      display: flex;
      gap: 6px;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
      overflow: hidden;
      position: relative;

      &:hover {
        background-color: var(--bgColor);
      }

      img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        object-fit: cover;
      }
    }

    .online-dot {
      position: absolute;
      top: 5px;
      left: 50px;
      width: 15px;
      height: 15px;
      background: greenyellow;
      border-radius: 100%;
    }

    .active {
      background-color: var(--bgColor);
    }
  }
}

@media screen and (max-width: 768px) {
  .messageLeft {
    padding-right: 10px;
    padding-left: 10px;
    .headerChat {
      display: none;
    }

    .ChatList {
      display: flex;
      width: 100%;
      overflow-x: scroll;

      .chatItem {
        flex-direction: column;
        min-width: 90px;

        span {
          font-size: 10px;
        }
      }
    }
  }
}
