.message-container {
  margin-top: 77px;
  height: calc(100vh - 77px);
  display: flex;
  padding: 0 50px;

  .message-left {
    flex: 2;
    border-right: 2px solid var(--bgColor);
  }

  .message-right {
    flex: 5;

    .room-chat {
      text-align: center;
      font-size: 26px;
      color: var(--primaryColor);
      margin-top: 20px;
    }
  }
}
