.PostItem {
  margin-top: 30px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  gap: 6px;
  border-radius: 10px;

  .userPost {
    display: flex;
    gap: 10px;
    align-items: center;

    > img {
      cursor: pointer;
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: 100%;
    }

    span {
      cursor: pointer;
    }
  }

  > img {
    width: 100%;
    object-fit: cover;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: var(--bgColor);
  }

  .postReact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .postIcon {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px 0px;
      gap: 4px;

      &:hover {
        cursor: pointer;
        border-radius: 6px;
        background-color: var(--bgColor);
      }

      .icon {
        font-size: 26px;
      }
    }
  }

  .userComment {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 5px;
    .imageUser {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .input {
      background-color: var(--bgColor);
      padding: 5px 10px;
      width: calc(100% - 70px);
      border-radius: 50px;
      input {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
      }
    }

    button {
      padding: 5px 5px;
      border: none;
      background: var(--primaryColor);
      color: #fff;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  .seeMore {
    display: flex;
    justify-content: flex-end;
    span {
      font-size: 12px;
      font-weight: 500;
      color: var(--primaryColor);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .getComment {
    display: flex;
    gap: 5px;
    .imageUser {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .comment {
      background-color: var(--bgColor);
      padding: 5px 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      width: calc(100% - 40px);

      .name {
        font-size: 12px;
        font-weight: 500;

        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      .desc {
        font-size: 14px;
      }

      .time {
        margin-top: 5px;
        display: flex;
        justify-content: flex-end;

        span {
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .PostItem {
    .postReact {
      .postIcon {
        .icon {
          font-size: 20px;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
}
