.messageRight {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  padding: 10px 0 10px;

  .headerBox {
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid var(--bgColor);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .infoUser {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 100%;
      }

      .online-dot {
        position: absolute;
        top: 5px;
        left: 30px;
        width: 12px;
        height: 12px;
        background: greenyellow;
        border-radius: 100%;
      }

      div {
        display: flex;
        flex-direction: column;
        .name {
          font-size: 16px;
          font-weight: 600;
        }
        .online {
          font-size: 12px;
          color: rgb(54, 51, 51);
        }
      }
    }

    .BoxIcon {
      display: flex;
      gap: 1px;

      .icon {
        font-size: 20px;
        color: #20cef5;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        cursor: pointer;
        &:hover {
          background-color: var(--bgColor);
        }
      }
    }
  }

  .container-message {
    padding: 10px 20px;
    min-height: calc(100% - 100px);
    overflow-y: auto;
  }
  .add-newMessage {
    padding: 10px 20px;

    display: flex;
    gap: 10px;
    align-items: center;

    .iconAdd {
      font-size: 30px;
      color: #20cef5;
      cursor: pointer;
    }

    .inputMessage {
      width: 100%;

      background: var(--bgColor);
      border-radius: 5px;
    }

    button {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      .iconSend {
        font-size: 30px;
        color: #20cef5;
        cursor: pointer;
      }
    }
  }
}
